.axis path, .axis line {
    fill: none;
    stroke: blue;
}

.axis .grid-line {
    stroke: #000;
    stroke-opacity: 0.2;
}
.axis text {
    font: 10px Verdana;
}

.dot {
    stroke: steelblue;
    fill: lightblue;
}
